.items {
    max-width: 700px;
    margin: auto;
    background-color: white;
   


}

.container{
    background-color: yellow;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 10px 5px 5px bisque;
    
}
.container:hover{
    background-color: rgb(171, 241, 33);
}

.items img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: top;
    border-radius: 100%;
}

.stars i{
    color: black;
    font-size: 1.5rem;
    padding: 0.5rem;
}
.items q{
    margin-top: 1.5rem;
    font-size: 1.2rem;
}
.carousel-indicators{
    position: relative;
    margin-top: 1.5rem;
}
.carousel-indicators [data-bs-target] {
        position: relative;
        background-color: black;
        border-radius: 100%;
        width: 20px;
        height: 20px;
        font-size: 1.3rem;
    }
.carousel-indicators:hover [data-bs-target]{
    color: aqua;

}
.carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: black;
    display: inline-block;
    width: 2rem;
    height: 2.5rem;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% center;
}
